<%= turbo_frame_tag checklist do %>
  <%= form_with model: checklist, url: [:toggle, checklist.room, checklist] do |f| %>
    <label class="<%= checklist.checked? ? 'checked' : '' %>">
      <%= f.check_box :checked,
                      onchange: "this.form.requestSubmit()",
                      class: "shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800",
                      data: { action: "change->modal#checkAllChecked", controller: "modal", modal_target: "checkbox" }
                      %>
      <span class="text-sm text-gray-500 ms-3 dark:text-gray-400"><%= checklist.name %></span>
    </label>
  <% end %>
<% end %>
