<!DOCTYPE html>
<html>
  <head>
    <title>YearendCleaning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "checklist", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="col my-4">
      <div id="flash">
        <%= render "flash" %>
      </div>
      <%= yield %>
    </div>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
